.sign-in {
  padding-left: 50px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  .title {
    margin: 30px 0;
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      overflow: wrap;
    }
  }
}
