.sign-up {
  border: 1px solid rgb(250, 231, 124);
  border-radius: 3px;
  box-shadow: -3px 3px 3px rgb(255, 245, 179);
  flex: 1;
  max-width: 450px;
  min-width: 350px;
  padding: 30px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
}
