*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: 'Open Sans Condensed';
  min-width: 350px;
}

a {
  text-decoration: none;
  color: black;
}
